black==22.3.0
blis==0.7.8
cachetools==5.2.0
catalogue==2.0.8
fastapi==0.85.0
grpcio==1.49.1
gunicorn==20.1.0
Jinja2==3.1.2
joblib==1.2.0
keras==2.10.0
keras-models==0.0.7
Keras-Preprocessing==1.1.2
matplotlib==3.5.3
numpy==1.23.3
pandas==1.5.0
Pillow==9.1.1
requests==2.27.1
scikit-learn==1.1.2
scipy==1.9.2
six==1.16.0
sklearn==0.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
urllib3==1.26.9
uvicorn==0.18.3